#header, .content {
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
a:hover {
    color: blue;
}
p {
    color: red;
    font-size: 16px;
    padding: 10px; 
    margin-bottom: 20px; 
}
#header {
    margin-top: 20px; 
    padding: 15px; 
}
#uniqueECEStudent {
    color: green;
    font-weight: bold;
}

/* New class for highlighting text */
.highlight-text {
    color: darkorange;
    text-decoration: underline;
}